.form {
  margin: 0 15px;
  text-align: left;
  overflow-x: auto;
}

.form__fieldset {
  max-width: 600px;
  margin: 0 auto;
  border: 3px ridge;
  border-radius: 5px;
  background: hsla(0, 0%, 90%, 0.925);
  padding: 0 5px;
}

.form__legend {
  background: hsl(180, 100%, 25%);
  border-radius: 10px;
  padding: 5px 10px;
  text-align: left;
  color: beige;
  border-width: 1px;
  border-top-style: inset;
  border-right-style: inset;
  border-top-color: hsl(0, 0%, 70%);
  border-right-color: hsl(0, 0%, 80%);
}

.form__labelText {
  width: 180px;
  display: inline-block;
  margin: 0 15px;
}

.form__field {
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px;
  max-width: 350px;
  border-width: 2px;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: hsl(0, 0%, 70%);
  border-right-color: hsl(0, 0%, 80%);
}

.form__labelText.form__resault {
  width: 500px;
}

.form__line {
  margin: 10px;
}

.form__resault {
  margin-left: 20px;
  max-width: 500px;
}

.form__button {
  margin: 5px auto;
  width: 100%;
  padding: 3px 0;
  background: teal;
  color: beige;
  border-radius: 5px;
  border: none;
  border-width: 2px;
  border-top-style: inset;
  border-right-style: inset;
  border-top-color: hsl(0, 0%, 70%);
  border-right-color: hsl(0, 0%, 80%);
}

.form__button:hover {
  background: hsl(180, 100%, 20%);
}

.form__button:active {
  background: hsl(180, 100%, 45%);
}

.form__field:required {
  background: hsl(0, 0%, 85%)
}

.form__field:hover {
  background: hsl(0, 0%, 90%)
}

.form__field:active {
  background: hsl(0, 0%, 80%)
}